/*body{
	background: url('../img/flowers_brooklyn_blur.jpg') no-repeat;
	background-size: 1800px;
}*/

body{
	background: url('../img/grey_wash_wall.png');
}

.question{
	padding: 40px 20px;
	background-color: white;
	background-color: rgba(255,255,255,.8);
	/*height: 480px;*/
}

.question-form{
	background-size: cover;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.products{
	max-height: 250px;
	overflow-y: scroll;
}

.form-actions{
	margin-top: 0;
}

.container{
	margin-top: 10px;
	background-color: white;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
     -webkit-box-shadow: 7px 7px 10px rgba(50, 50, 50, 1);
        -moz-box-shadow: 7px 7px 10px rgba(50, 50, 50, 1);
             box-shadow: 7px 7px 10px rgba(50, 50, 50, 1);
}

#question-list{
	list-style: none;
	margin-left: 0;
	margin-right: 0;
}

#question-list > li{
	height: 22px;
}

.intro{
	width: 300px;
	height: 286px;
	border: 1px solid grey;
	margin: 10px auto;
	background: url('../img/meet-robbie.png') no-repeat center center;
	background-size: 100%;
}

.red{
	color: red;
}

/*.modal{
	width: 620px;
	margin-left: -300px;
}

.modal-body{
	overflow-y: hidden;
	width: 590px;
}*/

.play-button{
	position: relative;
	top: 30%;
	cursor: pointer;
	opacity:0.9;
	filter: alpha(opacity=90);
}

.btn-link{
	height: 20px;
	padding: 0;
}

.nav-list{
	padding-left: 0;
	padding-right: 0;
}

.nav-list > li > a{
	margin-left: 0;
	margin-right: -10px;
	padding: 0 5px;
}

.footer{
	margin-bottom: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	font-size: 12px;
	line-height: 16px;
}

input.line {
    display: inline;
    border: none;
    border-radius: 0;
    color: #333;
    background: transparent;
    border-bottom: 1px dotted black;
    padding: 10px 0 2px;
    margin-bottom: 8px;
    font-size: 18pt;
}
 
input.line:focus {
    outline: none;
    border-color: #51CBEE;
}