/* Pagewide styles */

body{
	background: url('../img/grey_wash_wall.png');
}

.container{
	max-width: 1000px;
	margin-top: 10px;
	background-color: white;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
     -webkit-box-shadow: 7px 7px 10px rgba(50, 50, 50, 1);
        -moz-box-shadow: 7px 7px 10px rgba(50, 50, 50, 1);
             box-shadow: 7px 7px 10px rgba(50, 50, 50, 1);
}

.pointer{
	cursor: pointer;
}

/* Sidebar */

.nav-list{
	padding: 5px 10px;
}

.nav-list > li > a{
	margin-left: -10px;
	margin-right: -10px;
	padding: 0 5px;
}

span.label{
	float: right;
	margin-top: 1px;
	margin-bottom: 1px;
}

.sidebar{
	padding: 5px 0;
	margin-bottom: 10px;
}

/* Questions */

.question{
	padding: 40px 20px;
	background-color: white;
	background-color: rgba(255,255,255,.8);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.question-form{
	background-size: cover;
	border-top-right-radius: 4px;
}

input.line {
    border: none;
    border-radius: 0;
    color: #333;
    background: transparent;
    border-bottom: 1px dotted black;
    padding: 10px 0 2px;
    margin-bottom: 8px;
    font-size: 18pt;
}
 
input.line:focus {
    outline: none;
    border-color: #51CBEE;
}

.form-actions{
	margin-top: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.products{
	max-height: 250px;
	overflow-y: scroll;
}

#question-list{
	list-style: none;
	margin-left: 0;
	margin-right: 0;
}

#question-list > li{
	height: 22px;
}

.intro{
	width: 300px;
	height: 286px;
	border: 1px solid grey;
	margin: 10px auto;
	background: url('../img/meet-robbie.png') no-repeat center center;
	background-size: 100%;
}

.red{
	color: red;
}

.play-button{
	position: relative;
	top: 30%;
	cursor: pointer;
	opacity:0.9;
	filter: alpha(opacity=90);
}

.btn-link{
	height: 20px;
	padding: 0;
}

/* Footer */

.footer{
	margin-bottom: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	font-size: 12px;
	line-height: 16px;
}