

<div class="container-fluid span8 offset2">
    <div class="btn-group slidelinks" style="margin: 10px 5px;">
        <button type="button" class="btn btn-inverse slidelink" data-target="#giftiqueform" data-slide-to="0" onclick="giftiqueform.changeto(0)">Basic</button>
        <button type="button" class="btn slidelink" data-target="#giftiqueform" data-slide-to="1" onclick="giftiqueform.changeto(1)">Travel</button>
        <button type="button" class="btn slidelink" data-target="#giftiqueform" data-slide-to="2" onclick="giftiqueform.changeto(2)">Food/Drink</button>
        <button type="button" class="btn slidelink" data-target="#giftiqueform" data-slide-to="3" onclick="giftiqueform.changeto(3)">Activities</button>
        <button type="button" class="btn slidelink" data-target="#giftiqueform" data-slide-to="4" onclick="giftiqueform.changeto(4)">Hobbies</button>
    </div>
    <div id="giftiqueform" class="carousel slide" data-interval="">
        <form>
            <div class="carousel-inner">
                <div class="item active">
                    <p>You are creating a(n) 
                        <select name="occasion" id="occasion" class="span2">
                            <option value="null">occasion</option>
                            <option value="anniversary">Anniversary</option>
                            <option value="birthday">Birthday</option>
                            <option value="valentines">Valentines Day</option>
                            <option value="null">just because</option> 
                        </select> gift for your wonderful 
                        <select name="relationship" id="relationship" class="span2">
                            <option value="null">relationship</option>
                            <option value="Girlfriend">girlfriend</option>
                            <option value="Wife">wife</option>
                            <option value="Friend">friend</option>
                        </select>, 
                        <input type="text" class="giftique-form-text-input" id="recipient" placeholder="recipient" pattern="\w+"> and looking for gifts in the 
                        <select name="pricerange" id="pricerange">
                            <option value="null">price range</option>
                            <option value="5-10">$5-$10</option>
                            <option value="10-30">$10-$30</option>
                            <option value="30-50">$30-$50</option>
                            <option value="50-99999">$50+</option>
                        </select> range.</p>
                    <div class="form-actions">
                        <button type="button" class="btn disabled">Back</button>
                        <button type="button" class="btn pull-right" data-target="#giftiqueform" data-slide-to="1">Continue</button>
                    </div>
                </div>
                <div class="item">
                    <p>Select a blank to fill in.<br/>
                        <label class="radio"><input type="radio" name="travelquestion" value="t1"> <span class="put-name">Recipient</span> and I dream to travel to __________ in the future.</label>
                        <label class="radio"><input type="radio" name="travelquestion" value="t2"> <span class="put-name">Recipient</span> and I had the best time traveling to __________.</label>
                        <label class="radio"><input type="radio" name="travelquestion" value="t3"> We travel to __________ regularly, our special home away from home.</label>
                        <br/>
                        <input type="text" class="giftique-form-text-input" id="location" />
                    </p>
                    <div class="form-actions">
                        <button type="button" class="btn" data-target="#giftiqueform" data-slide-to="0">Back</button>
                        <button type="button" class="btn pull-right" data-target="#giftiqueform" data-slide-to="2">Continue</button>
                    </div>
                </div>
                <div class="item">
                    <p>Select a blank to fill in.<br/>
                        <label class="radio"><input type="radio" name="fooddrinkquestion" value="f1"> For dinner we prefer __________.</label>
                        <label class="radio"><input type="radio" name="fooddrinkquestion" value="f2"> Our drink of choice is __________.</label>
                        <label class="radio"><input type="radio" name="fooddrinkquestion" value="f3"> <span class="put-name">Recipient</span>'s drink of choice is __________.</label>
                        <br/>
                        <input type="text" class="giftique-form-text-input" id="fooddrink" />
                    </p>
                    <div class="form-actions">
                        <button type="button" class="btn" data-target="#giftiqueform" data-slide-to="1">Back</button>
                        <button type="button" class="btn pull-right" data-target="#giftiqueform" data-slide-to="3">Continue</button>
                    </div>
                </div>
                <div class="item">
                    <p>Select a blank to fill in.<br/>
                        <input type="radio" name="activityquestion" value="a1"> __________ is  an activity we'd love to try together.<br/>
                        <input type="radio" name="activityquestion" value="a2"> We love doing __________ together every couple of weeks.<br/>
                        <input type="radio" name="activityquestion" value="a3"> When we are feeling adventurous we __________.<br/>
                        <br/>
                        <input type="text" class="giftique-form-text-input" id="activity" />
                    </p>
                    <div class="form-actions">
                        <button type="button" class="btn" data-target="#giftiqueform" data-slide-to="2">Back</button>
                        <button type="button" class="btn pull-right" data-target="#giftiqueform" data-slide-to="4">Continue</button>
                    </div>
                </div>
                <div class="item">
                    <p>Select a blank to fill in.<br/>
                        <input type="radio" name="hobbyquestion" value="h1"> After a long week we spend time with each other by __________.<br/>
                        <input type="radio" name="hobbyquestion" value="h2"> Our typical Saturday consists of __________.<br/>
                        <input type="radio" name="hobbyquestion" value="h3"> If there was a blizzard outside and we were stuck in our house we would __________.<br/>
                        <br/>
                        <input type="text" class="giftique-form-text-input"  id="hobby" />
                    </p>
                    <div class="form-actions">
                        <button type="button" class="btn" data-target="#giftiqueform" data-slide-to="3">Back</button>
                        <button type="button" class="btn pull-right" onclick="giftiqueform.finish()">Finish!</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="location-results"></div>
    <div id="fooddrink-results"></div>
    <div id="activity-results"></div>
    <div id="hobby-results"></div>
</div>

<div class="clearfix"></div>

<!--<%= javascript_include_tag "giftform" %>-->