body{
	background: url('../img/flowers_brooklyn_blur.jpg') no-repeat; 
	background-size: cover;
}
.hero-unit{
	margin-top: 20px;
	background-color: rgba(255,255,255,.9);
}
#map{
	width: 80%; 
	margin: 0 auto;
	height: 350px;
	border: 1px solid black;
	border-radius: 5px;
}
.blank{
	height: 14px;
}
.module-nav{
	width: 40px;
	margin-left: -13%;
	float: left;
}