.item p{
    padding: 5px 20px;
    height: 150px;
}

.put-name{display: inline;}

.giftitem{
    width: 170px;
    display: inline-block;
    border: 1px solid black;
    padding: 0px 10px;
}

.product_source{
    position: relative;
    float: right;
    top: -40px;
}