.put-name{display: inline;}

.giftitem{
	position: relative;
    width: 170px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
}

.product_source{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.product_thumb{
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.form-item-p{
    padding: 60px 5px 20px;
    height: 190px;
}